div.action-vote{
    background-color: rgba(248, 222, 135, 0.377);
    padding: 2px;
    border-radius: 5px;
    font-size: 10px;
    margin-top: 3px;
    position: relative;
}
div.action-vote>p{
    margin-top:0
}